<div class="row">
	<div class="col-xs-8">
		<h3>Créer un nouveau post</h3>
		<form [formGroup]="postForm" (ngSubmit)="onSave()">
			<div class="form-group">
				<label for="title">Titre</label>
				<input type="text" class="form-control" formControlName="title" id="title">
			</div>
			<div class="form-group">
				<label for="title">Contenu</label>
				<textarea type="text" class="form-control" formControlName="content" id="content"></textarea>
			</div>
			<div class="navbar">
				<button class="btn btn-success" type="submit" [disabled]="postForm.invalid">Enregistrer</button>
				<button class="btn btn-warning pull-right" (click)="onCancel()">Annuler</button>
			</div>
		</form>
	</div>
</div>
